body.expense-body {
  min-height: 100vh;
  background-color: #18b7184d;
  box-sizing: border-box;
}

.nav-bar {
  text-align: center;
  background-color: #fc7753;
  padding: 20px 0;

  .logo-logout{
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;

    .logout {
      position: relative;
      text-align: center;
      z-index: 1;
      color: #fff;
      font-size: 30px;
    }
  }

  .logo-logout::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url('../../../assets/image2vector.svg') 50% 50% / cover no-repeat;
    transition: all .5s ease;
  }

  .logo-logout:hover::after {
    opacity: .5;
    cursor: pointer;
  }
}


.data-block {
  text-align: center;
  padding: 20px 0;
  overflow: hidden;

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: rgba(0, 128, 0, 0.589);
       background-color: white;
       border-radius: 5px;
    }
    mat-form-field {
      .mat-hint, input, .mat-form-field-label {
        font-size: 1rem;
        color: black;
        background-color: white;
    }
    mat-datepicker-toggle {
      color: black;
    }
    ::placeholder {
      color: grey;
    }
    }
  }

  .expense-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    ::ng-deep {
      mat-form-field.date-form-field {
        width: 15%;
      }
      mat-form-field {
        width: 30%;
      }

      .mat-select-value {
        font-size: 1rem;
        color: rgb(0, 0, 0);
      }
      .mat-select-panel {
        color: black;
      }
      .mat-select-arrow {
        color: rgba(3, 0, 0, 0.7);
      }

    }
  }
}
::ng-deep {
  .mat-select-panel {
    background: #f5f5f5;
    color: black;

    input.currency-changer {
      font-size: 1rem;
      position: sticky;
      top: 0;
      z-index: 2;
      width: 100%;
      line-height: 16px;
      border: 12px solid black;
      box-sizing: border-box;
      border-color: #0080003d;
    }
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    background-color: #53aa1a;
  }

  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background: #339227a6;
  }
  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: #35a326;
}
  .mat-option-text{
    font-size: 1rem;
    color: #000;
  }

  .mat-datepicker-content-container {
    background-color: white;
    color: black;
  }

  .mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: #000;
    border-color: transparent;
  }
  .mat-calendar-table-header, .mat-calendar-body-label {
    color: #000;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(31, 162, 48, 0.3);
  }

  .mat-calendar-body-selected {
    background-color: #09ac24;
  }

  .mat-autocomplete-panel {
    overflow-y: scroll;
    background-color: #90b482d1;
  }

  .mat-select-value {
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  .mat-select-panel {
    color: black;

  }
  .mat-select-arrow {
    color: rgba(3, 0, 0, 0.7);
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 128, 0, 0.589);
    background-color: white;
    border-radius: 5px;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(0, 128, 0, 0.589);
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 13px;
    width: 85%;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(0, 128, 0, 0.589);
  }
}

.reset {
  width: 95%;
  margin: 0 auto;
  text-align: end;
  font-size: 12px;

  .reset-icon{
    color:rgba(31, 162, 48, 0.3);
    cursor: pointer;
  }
  .reset-icon:hover {
    color: rgba(0, 128, 0, 0.589) ;
    transition: linear .3s
  }
}


.results {
  width: 95%;
  background: white;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 5px auto;

  table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;


    td, th {
      vertical-align: middle;
      text-align: center;
      width: 33%;
      color: #000;
    }

    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      border-color: #000;
    }

    tr:last-of-type {
      border-bottom: none;
    }

    ::ng-deep {
      .mat-sort-header-container {
        justify-content: center;
        border: none;
      }

      .mat-form-field-hide-placeholder .mat-select-placeholder {
        color: transparent;
        -webkit-text-fill-color: grey;
        transition: none;
        display: block;
      }
    }
  }
}


