
<body class="expense-body">
  <div class="nav-bar">
    <div class="logo-logout" (click)="logout()" routerLink="/home">
      <p class="logout">Logout</p>
    </div>
  </div>

  <div class="data-block">

    <form class="expense-form" [formGroup]="expenseForm" >
      <mat-form-field class="date-form-field" appearance="outline">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          formControlName="date"
          (dateInput)="changeDate('input', $event)"
          >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
        <mat-error *ngIf="expenseForm.controls['date'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="expense title" formControlName="title">
        <mat-error *ngIf="expenseForm.controls['title'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="selected">
          <mat-option value="Home">Home</mat-option>
          <mat-option value="Travel">Travel</mat-option>
          <mat-option value="Car">Car</mat-option>
          <mat-option value="Food">Food</mat-option>
        </mat-select>
        <mat-error *ngIf="expenseForm.controls['category'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" >
        <input matInput placeholder="amount" formControlName="amount" type="number" min="0">
        <mat-error *ngIf="expenseForm.controls['amount'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          formControlName="currency"
          required
          [matAutocomplete]="auto"
          placeholder="currency"
        >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let currency of filteredCurrencies | async" value="{{currency.Cur_Name_Eng}} ({{currency.Cur_Abbreviation}})">
              {{currency.Cur_Name_Eng}} ({{currency.Cur_Abbreviation}})
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      <button mat-button class="login_btn" type="submit" (click)="submit()"> Add expense</button>
    </form>
  </div>

  <div class="results" *ngFor="let row of rows">
    <mat-spinner *ngIf="isLoad"></mat-spinner>
    <p class="title">{{row.title}}</p>
    <p class="category">{{row.category}} </p>

    <form class="result-form"[formGroup]="expenseForm">
      <p class="amount">{{row.amount}}



      </p>

      <mat-form-field>
        <mat-select [value]="row.currency" (click)="checkCurrentCurrency(row.currency, row.amount, $event)">
          <input
            class="currency-changer"
            placeholder="Search value"
            formControlName="currencyChange"
          >
          <mat-option *ngFor="let currency of filteredCurrenciesChange | async " value="{{currency.Cur_Name_Eng}} ({{currency.Cur_Abbreviation}})" (click)='checkSelectedCurrency(currency.Cur_Abbreviation, row.amount)'>
            {{currency.Cur_Name_Eng}} ({{currency.Cur_Abbreviation}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>


  </div>
</body>

