<header class="header">
  <div class="header-logo">
    <img src="../../assets/logo.png" alt="Money Cat">
  </div>
  <div class="header-login_btn">
    <button class="login_btn login_btn-hover" type="button"> Try It Free</button>
  </div>
</header>
<body>
  <section class="intro-section">
    <img src="../../assets/mockups.svg">
    <div class="intro-section_describe"></div>
    <button class="login_btn">Get Started For Free</button>
  </section>
  <section class="features-section">
    <img src="../../assets/your-users.svg">
    <div class="features-section_benefits">
        <p>
          <b>BUDGETING THAT WORKS</b>
          Based on the envelope budgeting method – a time-tested system that works!
        </p>
        <p>
          <b>SYNC & SHARE BUDGETS</b>
          Put your budget into action with the people who matter most.
        </p>
        <p>
          <b>SAVE FOR BIG EXPENSES</b>
          Plan ahead and be prepared. No more surprises!
        </p>
    </div>
  </section>
  <section class="login-section">
    <form class="login-section_form" title="Try It Free">
      <b>Try it Free</b>
      <input type="text" placeholder="email" required>
      <input type="text" placeholder="password" required>
    </form>
  </section>
</body>
<footer class="footer">
  <div class="rights">
    &copy; Copyright 2019 Money Cat. All rights reserved.
  </div>
</footer>
